{
  "swagger": "2.0",
  "info": {
    "description": "API SETE Web.\n",
    "version": "1.0.0",
    "title": "API SETE",
    "contact": {
      "email": "umarley.faria@ufg.br"
    }
  },
  "host": "sete.api",
  "tags": [
    {
      "name": "Authenticator",
      "description": "Serviço de autenticação da API"
    },
    {
      "name": "Municipios",
      "description": "Municipios que usam o SETE"
    },
    {
      "name": "Permissão Firebase",
      "description": "Operações para permissão de usuários do firebase"
    },
    {
      "name": "Usuários",
      "description": "Operações de cadastro e gerenciamento de usuários"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/authenticator": {
      "get": {
        "tags": [
          "Authenticator"
        ],
        "summary": "Checar se o access token é válido",
        "description": "Esse endpoinbt retorna se o access token é válido ou não.",
        "operationId": "findPetsByStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RetAuthGET"
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          }
        }
      },
      "post": {
        "tags": [
          "Authenticator"
        ],
        "summary": "Efetuar login na API enviando usuário e senha",
        "operationId": "Efetuar login",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Objeto contendo usuário e senha",
            "required": true,
            "schema": {
              "$ref": "#/definitions/auth"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RetAuth"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        }
      }
    },
    "/municipios": {
      "get": {
        "tags": [
          "Municipios"
        ],
        "summary": "Lista os municipios que utilizam o SETE DESKTOP",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "tipo",
            "in": "query",
            "description": "Tipo de retorno dos dados mapa ou lista",
            "required": false,
            "type": "string",
            "enum": [
              "mapa",
              "lista"
            ]
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Parâmetro que indica a pagina de registros a ser listado",
            "required": false,
            "type": "integer"
          },
          {
            "name": "busca",
            "in": "query",
            "description": "Parâmetro com nome do municipio para busca",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/municipios/{codigo_ibge}": {
      "get": {
        "tags": [
          "Municipios"
        ],
        "summary": "Obtém dados do municipio pelo código IBGE.",
        "operationId": "getByCodigoIBGE",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "codigo_ibge",
            "in": "path",
            "description": "Código IBGE do municipio.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/MunicipioList"
            }
          },
          "404": {
            "description": "Municipio not found"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        }
      }
    },
    "/permissao-firebase": {
      "post": {
        "tags": [
          "Permissão Firebase"
        ],
        "summary": "Libera a permissão de um usuário para o municipio em que o mesmo se cadastrou.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Objeto contendo os dados do modelo PermissaoFirebase",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PermissaoFirebase"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PermissaoFirebaseResposta"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        }
      }
    },
    "/permissao-firebase/usuarios-liberar": {
      "get": {
        "tags": [
          "Permissão Firebase"
        ],
        "summary": "Lista todos os usuário para serem liberados no Firebase",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Parâmetro para ser informada a página de resultados que deve ser exibida",
            "required": false,
            "type": "integer"
          },
          {
            "name": "busca",
            "in": "query",
            "description": "Parâmetro que poderá conter o nome do usuário, email, nome do municipio ou nome do estado para busca",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListUsuarioLiberar"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        }
      }
    },
    "/users/api": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Listar todos os usuários da API",
        "operationId": "getUsuarios",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "pagina",
            "in": "query",
            "description": "Parâmetro para ser informada a página de resultados que deve ser exibida",
            "required": false,
            "type": "integer"
          },
          {
            "name": "busca",
            "in": "query",
            "description": "Parâmetro que poderá conter o nome do usuário ou email para busca",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListUsuariosAPI"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        }
      },
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Cria um novo usuário para acessar a API",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Objeto contendo dados do usuário",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DadosUsuarioPOST"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RetUsuariosPOST"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        }
      }
    },
    "/users/api/{id_usuario}": {
      "put": {
        "tags": [
          "Usuários"
        ],
        "summary": "Atualiza um usuário da API. Para trocar a senha do usuário envia apenas o objeto com a chave senha. Para ativar ou desativar o usuário envie apenas a chave is_ativo.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Access Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "id_usuario",
            "in": "path",
            "description": "ID do usuário que será atualizado",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Objeto contendo dados do usuário",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DadosUsuarioPUT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RetUsuariosPOST"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "415": {
            "description": "Unsupported Media Type"
          }
        }
      }
    }
  },
  "definitions": {
    "auth": {
      "type": "object",
      "properties": {
        "usuario": {
          "type": "string"
        },
        "senha": {
          "type": "string",
          "format": "md5"
        }
      }
    },
    "RetAuth": {
      "type": "object",
      "properties": {
        "access_token": {
          "$ref": "#/definitions/RetAuth_access_token"
        },
        "messages": {
          "type": "string"
        }
      }
    },
    "RetAuthGET": {
      "type": "object",
      "properties": {
        "result": {
          "type": "boolean"
        },
        "messages": {
          "type": "string"
        }
      }
    },
    "MunicipioList": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MunicipioList_data"
          }
        },
        "total": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "PermissaoFirebase": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "tipo_permissao": {
          "type": "string",
          "description": "admin - Usuário administrador  reader - Usuário somente leitura \n",
          "enum": [
            "admin",
            "reader"
          ]
        }
      }
    },
    "PermissaoFirebaseResposta": {
      "type": "object",
      "properties": {
        "result": {
          "type": "boolean"
        },
        "messages": {
          "type": "string"
        }
      }
    },
    "ListUsuarioLiberar": {
      "type": "object",
      "properties": {
        "registros": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ListUsuarioLiberar_registros"
          }
        },
        "qtd_registros": {
          "type": "integer",
          "format": "int64"
        },
        "pages": {
          "type": "integer",
          "format": "int64"
        },
        "reg_por_pagina": {
          "type": "integer",
          "format": "int64"
        },
        "pg_atual": {
          "type": "integer",
          "format": "int64"
        },
        "result": {
          "type": "boolean"
        }
      }
    },
    "DadosUsuarioPOST": {
      "type": "object",
      "properties": {
        "nome": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "senha": {
          "type": "string",
          "format": "md5"
        }
      }
    },
    "DadosUsuarioPUT": {
      "type": "object",
      "properties": {
        "nome": {
          "type": "string"
        },
        "senha": {
          "type": "string",
          "format": "md5"
        },
        "is_ativo": {
          "type": "string",
          "description": "Para ativar o usuário envie a string S , para inativar envie N",
          "enum": [
            "S",
            "N"
          ]
        }
      }
    },
    "ListUsuariosAPI": {
      "type": "object",
      "properties": {
        "registros": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ListUsuariosAPI_registros"
          }
        },
        "qtd_registros": {
          "type": "integer",
          "format": "int64"
        },
        "pages": {
          "type": "integer",
          "format": "int64"
        },
        "reg_por_pagina": {
          "type": "integer",
          "format": "int64"
        },
        "pg_atual": {
          "type": "integer",
          "format": "int64"
        },
        "result": {
          "type": "boolean"
        }
      }
    },
    "RetUsuariosPOST": {
      "type": "object",
      "properties": {
        "result": {
          "type": "boolean"
        },
        "messages": {
          "type": "object",
          "properties": {}
        }
      }
    },
    "RetAuth_access_token": {
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string"
        },
        "expires_in": {
          "type": "integer"
        }
      }
    },
    "MunicipioList_data": {
      "type": "object",
      "properties": {
        "codigo_municipio": {
          "type": "string"
        },
        "nome_cidade": {
          "type": "string"
        },
        "latitude": {
          "type": "string"
        },
        "longitude": {
          "type": "string"
        },
        "codigo_ibge": {
          "type": "string"
        },
        "nome_estado": {
          "type": "string"
        },
        "uf": {
          "type": "string"
        }
      }
    },
    "ListUsuarioLiberar_registros": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string"
        },
        "nome": {
          "type": "string"
        },
        "codigo_cidade": {
          "type": "string"
        },
        "localidade": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      }
    },
    "ListUsuariosAPI_registros": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "nome": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      }
    }
  }
}